.input-container {
  height: 40%;
  margin: 50px 0;
  border-radius: 30px;
  border: 2px solid var(--gray);
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.children-container {
  width: 80%;
  height: 80%;
  padding: 0;
  background-color: var(--white);
}
.children-container input {
  min-width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  border: none;
}
.submit-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--purple);
  cursor: pointer;
  border: none;
}